---
import Layout from "../layouts/Start3Layout.astro";
import Header from "../components/start3/Header.astro";
import Footer from "../components/start3/Footer.astro";
import Privacy from "../components/start3/Privacy.astro";
---

<Layout
  title="Politique de confidentialité"
  canonical="https://start3.tech-talent.fr/privacy-policy"
>
  <div class="page-wrapper">
    <Header />
    <div class="header-margin"></div>
    <Privacy />
    <Footer />
  </div>
</Layout>

<style>
  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .header-margin {
    height: 140px;
  }
</style>
